h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: var(--primary-color);
}

.container{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: var(--size-4);
	align-items: flex-start;
	justify-self: flex-start;
	gap: var(--size-5);
	width: 100%;
	margin: 0;
	min-width: 360px;
	width: clamp(360px, 400px, 540px);
	background-color: var(--bg);
	color: var(--fg90);
}
.logo-container{
	display: flex;
	gap: var(--size-2);
	align-items: center;
}
.protections-container{
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	width: 100%;
}
.protection-container{
	display: flex;
	flex-direction: column;
}

.header-protection-container{
	display: flex;
	align-items: center;
	gap: var(--size-2);
}

.protection-container p{
	margin-left: var(--size-6-5);
	padding: 0;
	color: var(--primary-500);
	font-size: var(--size-3-5);
	font-weight: 500;
}

.blocking-stats-container{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}
.blocking-stats{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 var(--size-5);
	color: var(--primary-color);
}
.fingerprint-toggles-container{
	display: flex;
	width: 100%;
	justify-content: space-around;
}